Ejercicio 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada será un número real a tu elección. Guarda el dataframe en una variable llamada points.

In [ ]:
import pandas as pd

data = {"x": [8,545,69,58,78,3648,56,56.25,854.5,-894.5,56,98,-64,56,12], "y": [6,84,68,-565,56.3,98,78,489,-89.2,2,65,97,-56,78,23]}
points = pd.DataFrame(data = data)
print(points)

          x      y
0      8.00    6.0
1    545.00   84.0
2     69.00   68.0
3     58.00 -565.0
4     78.00   56.3
5   3648.00   98.0
6     56.00   78.0
7     56.25  489.0
8    854.50  -89.2
9   -894.50    2.0
10    56.00   65.0
11    98.00   97.0
12   -64.00  -56.0
13    56.00   78.0
14    12.00   23.0

Ejercicio 2

Del dataset points, muestra las filas cuyo valor en la columna x sea positivo.

In [ ]:
points.query("x >= 0")

          x      y
0      8.00    6.0
1    545.00   84.0
2     69.00   68.0
3     58.00 -565.0
4     78.00   56.3
5   3648.00   98.0
6     56.00   78.0
7     56.25  489.0
8    854.50  -89.2
10    56.00   65.0
11    98.00   97.0
13    56.00   78.0
14    12.00   23.0

Ejercicio 3

Del dataset points, muestra las filas cuyo valor en la columna y sea negativo. Usa el método .query().

In [ ]:
points.query("y < 0")

        x      y
3    58.0 -565.0
8   854.5  -89.2
12  -64.0  -56.0

Ejercicio 4

Del dataset points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante. Usa el
método .query().

In [ ]:
points.query("y >= 0 and x >= 0")

          x      y
0      8.00    6.0
1    545.00   84.0
2     69.00   68.0
4     78.00   56.3
5   3648.00   98.0
6     56.00   78.0
7     56.25  489.0
10    56.00   65.0
11    98.00   97.0
13    56.00   78.0
14    12.00   23.0

Ejercicio 5

Del dataset points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer cuadrante”.

In [ ]:
for i in points.itertuples():
  print(f"El punto {i[1]} , {i[2]} {'si' if i[1] >= 0 and i[2] >= 0 else 'no'} pertenece al primer cuadrante")

El punto 8.0 , 6.0 si pertenece al primer cuadrante
El punto 545.0 , 84.0 si pertenece al primer cuadrante
El punto 69.0 , 68.0 si pertenece al primer cuadrante
El punto 58.0 , -565.0 no pertenece al primer cuadrante
El punto 78.0 , 56.3 si pertenece al primer cuadrante
El punto 3648.0 , 98.0 si pertenece al primer cuadrante
El punto 56.0 , 78.0 si pertenece al primer cuadrante
El punto 56.25 , 489.0 si pertenece al primer cuadrante
El punto 854.5 , -89.2 no pertenece al primer cuadrante
El punto -894.5 , 2.0 no pertenece al primer cuadrante
El punto 56.0 , 65.0 si pertenece al primer cuadrante
El punto 98.0 , 97.0 si pertenece al primer cuadrante
El punto -64.0 , -56.0 no pertenece al primer cuadrante
El punto 56.0 , 78.0 si pertenece al primer cuadrante
El punto 12.0 , 23.0 si pertenece al primer cuadrante

Ejercicio 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length; la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras:
“euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de
consonantes. Guarda el dataframe en la variable words.

In [ ]:
def vocals(word):
  word = word.lower()
  vocals = []

  for i in word:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
      vocals.append(i) 
  return len(vocals)

def cons(word):
  word = word.lower()
  cons = []

  for i in word:
    if i != "a" and i != "e" and i != "i" and i != "o" and i != "u":
      cons.append(i) 
  return len(cons)
   
import pandas as pd
words_list = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]
data = {"word": words_list,
        "length": map(len, words_list),
        "vowels": map(vocals, words_list),
        "consonants": map(cons, words_list)
       }

words = pd.DataFrame(data)

words

       word  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
9  boutique       8       5           3

Ejercicio 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales {vowels} son vocales y {consonants} consonantes”.

In [ ]:
for i in words.itertuples():
  print(f"La palabra {i[1]} tiene {i[2]} letras, de las cuales {i[3]} son vocales y {i[4]} son consonantes")

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 son consonantes
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 son consonantes
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 son consonantes
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 son consonantes
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 son consonantes
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 son consonantes
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 son consonantes
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 son consonantes
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4 son consonantes
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 son consonantes

Ejercicio 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes. Usa el método .query().

In [ ]:
words.query("vowels == consonants")

     word  length  vowels  consonants
1    diez       4       2           2
4  cicuta       6       3           3
5  fatiga       6       3           3
7  jadeos       6       3           3

Ejercicio 9

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en orden descendente.

In [ ]:
words = words.sort_values(by = "word", ascending = False)

words

       word  length  vowels  consonants
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
5    fatiga       6       3           3
0      euro       4       3           1
1      diez       4       2           2
4    cicuta       6       3           3
3     broma       5       2           3
9  boutique       8       5           3
2     algas       5       2           3

Ejercicio 10

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el método .tolist().

In [ ]:
vowels_list = words["vowels"].tolist()

vowels_list.sort(reverse = True)

vowels_list

[5, 3, 3, 3, 3, 3, 2, 2, 2, 2]